<div class="description">
  <div>
    <h1>
      Apprends à coder et <br />
      booste ta <span>carrière</span>
    </h1>
    <p>
      Talan vous coache pour laisser s’exprimer pleinement le développeur qui
      sommeille en vous. En intégrant Talan Academy, vous suivez une formation
      professionnelle de trois mois, basée sur une pédagogie innovante, vous
      ouvrant les portes d’un job à Talan.
    </p>
  </div>
  <img src="../../../assets/images/continents-removebg-preview.png" alt="" />
</div>
