<mat-nav-list>
  <a mat-list-item routerLink="/owner" (click)="onSidenavClose()">
    <span class="nav-caption">Nos cursus</span>
  </a>
  <a mat-list-item routerLink="/owner" (click)="onSidenavClose()">
    <span class="nav-caption">Admission</span>
  </a>
  <a mat-list-item routerLink="/register" (click)="onSidenavClose()">
    <span class="nav-caption">S'inscrire</span>
  </a>
  <a mat-list-item routerLink="/owner" (click)="onSidenavClose()">
    <span class="nav-caption">Connexion</span>
  </a>
</mat-nav-list>
