h2 {
  color: gray;
  font-size: medium;
}

span {
  color: black;
  font-size: medium;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

mat-dialog-content {
  margin-top: 5vh;
}

h1 {
  text-align: center;
}
